@model Identityvedio.Models.JobProposals
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                <h2 class="mb-5 h3">Job Proposals</h2>
                <div class="rounded border jobs-wrap">

                    @*<a href="Proposal/CreateProposal/@item.ID">CreateProposal</a>*@

                    @if (Model.Proposals.Count() > 0)
                    {
                        foreach (var item in Model.Proposals)
                        {
                            <a href="~/Proposal/Details/@item.ID" class="job-item d-block d-md-flex align-items-center freelance">
                                
                                <div class="job-details h-100">
                                    <div class="p-3 align-self-center">
                                        <h3>
                                            @*@User.Identity.Name.Where(User.Identity.GetUserId()==item.FreelancerId)
                                    @Html.DisplayFor(modelItem => item.)*@
                                        </h3>
                                        <div class="d-block d-lg-flex">
                                            <div class="mr-3">
                                                <span class="icon-suitcase mr-1"></span>
                                                @Html.DisplayFor(modelItem => item.proposal, null, new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="job-category align-self-center">
                                    <div class="p-3">
                                        <span class="text-warning p-3 rounded ">
                                            <label>@item.Duration</label>

                                        </span>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <div> No Proposals</div>
                    }
                </div>

                <div class="col-md-12 text-center mt-5">
                   
                    
                        <a href="~/Client/EndJob/@Model.JobID" class="btn btn-primary rounded py-3 px-5"> End Job</a>
                    
                </div>

                @*@foreach (var item in Model)
                {
                    <a href="~/Proposal/Details/@item.ID" class="job-item d-block d-md-flex align-items-center freelance">
                        <div class="company-logo blank-logo text-center text-md-left pl-3">
                            <img src="Content/images/logo_1.png" alt="Image" class="img-fluid mx-auto">
                        </div>
                        <div class="job-details h-100">
                            <div class="p-3 align-self-center">
                                <h3>
                                    @User.Identity.Name.Where(User.Identity.GetUserId()==item.FreelancerId)
                            @Html.DisplayFor(modelItem => item.)
                                </h3>
                                <div class="d-block d-lg-flex">
                                    <div class="mr-3">
                                        <span class="icon-suitcase mr-1"></span>
                                        @Html.DisplayFor(modelItem => item.proposal, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="job-category align-self-center">
                            <div class="p-3">
                                <span class="text-warning p-3 rounded border border-warning">
                                    <label>@item.Duration</label>

                                </span>
                            </div>
                        </div>
                    </a>
                }*@
            </div>

               
            </div>
        </div>
    </div>
</div>