
@using Identityvedio.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>

    /* BASIC */

    a {
        color: #92badd;
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
    }

    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin: 40px 8px 10px 8px;
        color: #cccccc;
    }



    /* STRUCTURE */

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formContent {
        -webkit-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
        text-align: center;
    }

    /* TABS */

    h2.inactive {
        color: #cccccc;
    }

    h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #5fbae9;
    }



    /* FORM TYPOGRAPHY*/

    input[type=button], input[type=submit], input[type=reset] {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 15px 32px;
        width: 90%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
            background-color: #39ace7;
        }

        input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
            -moz-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -o-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }

    input[type=text], input[type=password] {
        background-color: #f6f6f6;
        border: none;
        color: #28a745; /*#0d0d0d;*/
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 8px;
        width: 90%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

        input[type=text]:focus {
            background-color: #fff;
            border-bottom: 2px solid #28a745 /*#5fbae9*/;
        }

        input[type=text]:placeholder {
            color: #cccccc;
        }



    *:focus {
        outline: none;
    }

    #icon {
        width: 60%;
    }
</style>
<br />
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <h3 style="color:#28a745 ;font-weight: 400;display: inline-block;font-family:'Poppins', sans-serif;">Login To iTiFreeLance</h3>
        </div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl, returnUrl2 = "~/Job/Index" }, FormMethod.Post, new { @id = "myform", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.TextBoxFor(m => m.UserName, new { @class = "fadeIn second", @placeholder = "User Name", @id = "login" })
            <br />
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

            @Html.PasswordFor(m => m.Password, new { @class = "fadeIn third", @placeholder = "password", @id = "password" })
            <br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @*<a href="~/Account/Register"><span class="bg-primary text-white py-3 px-4 rounded">Register</span></a>*@

            <input type="submit" class="bg-primary text-white py-3 px-4 rounded" value="Log In" />
            <br />
            @Html.CheckBox("ers", true)
            @Html.LabelFor(m => m.RememberMe, " Keep me Signed in", new { @style = "color:#28a745 ;font-weight: 400;display: inline-block;font-family:'Poppins', sans-serif;" })
            <span class="icon"></span>
            <br />
            <p style="color:white">
                @Html.ActionLink("Register as a new user", "Register", new { @style = "color:#28a745" })
            </p>
        }
    </div>
</div>
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}